.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 8px;
    margin-right: auto;
}
.Message{
    font-size: 15px;
    font-family: inherit;
    display: block;
    color: red;
}


.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color:#ccc;
}

.Invalid{
    border: 2px solid red;
    background-color: #FDA49A;
}